<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="checker-daddy" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="checker_page_project.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Checker Daddy</title>
</head>
<body>
    <H1>Welcome to Checker Daddy!</H1>
    <h2>Please fill out to get user info</h2>
    <br><br>
    <form method="get" action="holberton-checker-project.html">
            <input type="API key" name="api_key" placeholder="API key..." required>
            <input type="Email" name="email" placeholder= "Email..." required>
            <input type="password" name="user_pwd" placeholder= "Password..." required>
            <br><br>
            <input type="submit" id='sub'>
        </form>
</body>
</html>
