<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="static.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <body style="background: #62bba7" class="text-white">
    <div class="container d-flex justify-content-center mt-5">
        <div class="row w-50">
            <div class="col-md text-center">
                <h1 class="display-4 text-center">Checker Daddy</h1>
                <h3 style="color: red; font-weight: bold">{{ error }}</h3>
                <h2 class="text-center">Please enter your project</h2>
                <form class="form-inlin mt-4" method="POST" action="/project">
                    <div class="form-group">
                        <input type="projectid" class="form-control" name="project" id="projectid" placeholder="Project Link URL" required>
                    </div>
                    <div class="form-group">
                        <input type="taskid" class="form-control" name="task_num" id="taskNumber" placeholder="Task Number" required>
                    </div>
                    <button type="submit" class="btn btn-primary px-5 shadow-none" style="color:white ">Submit</button>
                </form>
            </div>
        </div>
    </div>
    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.9/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
