<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="style" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="checker_page_project.css">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <title>Checker Daddy</title>
</head>
<body>
    <H1>Welcome to Checker Daddy!</H1>
    <h2>Please fill out to get project and task number</h2>
    <br><br>
    <form>
        <input type="project" name="project" placeholder="Project..." required>
        <input type="taskNumber" name="taskNumber" placeholder= "Task Number..." required>
        <input type="submit" id='sub'>
        </form>
        <br>
</body>
</html>
